---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitlab-runner-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: gitlab-runner-secret
    template:
      engineVersion: v2
      data:
        runner-registration-token: "{{ .runner_registration_token }}"
        runner-token: "{{ .runner_token }}"
  dataFrom:
    - extract:
        key: gitlab-runner
