---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app actual
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      actual:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext: &securityContext
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/actualbudget/actual-server
              tag: 25.10.0@sha256:32dceb536149fcfe6e5292a6a568403c363e9fd59a41596da002b994a0b2216e
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                memory: 128M
              limits:
                memory: 512M
    service:
      app:
        controller: actual
        ipFamilyPolicy: PreferDualStack
        ports:
          http:
            port: &port 5006
    route:
      app:
        hostnames: ["{{ .Release.Name }}.lumu.au"]
        parentRefs:
          - name: internal
            namespace: flux-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: actual
        advancedMounts:
          actual:
            app:
              - path: /data
