---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  chartRef:
    kind: OCIRepository
    name: headlamp
  interval: 30m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    replicaCount: 1
    config:
      baseURL: ""
      pluginsDir: /headlamp/plugins
    initContainers:
      - name: create-kubeconfig
        image: rancher/shell:v0.6.1@sha256:a255ad8992cf97a544b55e7f6a113179f05f831359ab6088e3658525fb58ea1b
        command:
          - /bin/sh
          - -c
          - |
            cat <<EOF > /config/kubeconfig
            apiVersion: v1
            kind: Config
            clusters:
            - cluster:
                certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                server: https://kubernetes.default.svc
              name: default
            contexts:
            - context:
                cluster: default
                user: default
                namespace: default
              name: default
            current-context: default
            users:
            - name: default
              user:
                tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            EOF
        volumeMounts:
          - mountPath: /config
            name: kubeconfig
      - name: headlamp-plugins
        image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:v0.5.0@sha256:05c3df203b2ff82e09e944e31cd16ab66429f37df7566ba0d47285add7c78c5a
        command:
          - /bin/sh
          - -c
          - |
            cp -r /plugins/* /headlamp/plugins/
        volumeMounts:
          - mountPath: /headlamp/plugins
            name: plugins
    env:
      - name: KUBECONFIG
        value: /config/kubeconfig
    extraArgs:
      - -plugins-dir=/headlamp/plugins
    volumeMounts:
      - mountPath: /headlamp/plugins
        name: plugins
      - mountPath: /config
        name: kubeconfig
      - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
        name: headlamp-admin-token
        readOnly: true
    volumes:
      - name: plugins
        emptyDir: {}
      - name: kubeconfig
        emptyDir: {}
      - name: headlamp-admin-token
        secret:
          secretName: headlamp-admin-token
    service:
      port: 4466
    serviceAccount:
      create: false
      name: headlamp-admin
    podAnnotations:
      reloader.stakater.com/auto: "true"
    securityContext:
      runAsUser: 100
      runAsGroup: 101
