---
apiVersion: v1
kind: Secret
metadata:
  name: forgejo-deploy-key
  namespace: flux-system
stringData:
  identity: |
    {{ ENV.FLUX_FORGEJO_DEPLOY_KEY | indent(4) }}
  known_hosts: |
    [git.lumu.au]:2222 ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC+0unUoJ12g1eHKMvXzrxWVyE2GqJTYNQIQMHDV/MvLfiKQzV5zagNM06eEDQJNY/0iuY8PFDGVcSgJQEDH6nI7nsNmYeggj8PmrLHtJCTX+OO0qun4AsLhGaNm6fPygLRZQZvotx8SRLNSXW7iSxyb58Q1p7D7S/smryv16pDAtcVRkFONU2rwjpwH7dhzDkOYnmOH33aDnHQOkytCOFtoRtMb4dc08mbv5jNtQkonw27+7F4/BPo09yVlad38EQqP4PZbEextkGjvQwIXqA3ANKtVxAb2I8Y5zr3jhE7RG4XjeDC0CAmUxmtB4/NW1no/VJJ9RLGEP66S3Z5rpvVC0xguY4K2JY44UvhvFFQNEmHOf+a51Q+HdlZRTOthEa3dtFxP3rrA03R/GodxGsB4brg02EQP2KvgGpNuAmcTUIVB5jtlclIX1/qbJqz+LF7JjUTnOn3B7uo3g3j88qzT26RECNyo7J1+e0Cs9yX/LyMUJbHT8E5XPxsa3w2/fN1waALIiCpdQqmeK474mzhdrwbaPpVs8BYdI0YLOOzKMJ+wu9CWbNOGF4hkHpfH67RDFYWNMt4Na6TbGqexEYNXisgAcn1IAY3fc2ng4rMcpXmRDWt0Lt2Lw9OWSXsNFymXEpMZx21u7tpg643PpN5M9mfEUEUxTNiC/9nAq9Q4Q==
