---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cross-seed
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: cross-seed
  dependsOn:
    - name: qbittorrent
      namespace: default
  values:
    controllers:
      cross-seed:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.0.0-44@sha256:881ce834570f3b369860e47a0801b89ab10469b3beccf5279f90e041d3725058
            env:
              TZ: Australia/Perth
              CROSSSEED_PORT: &port 80
            envFrom:
              - secretRef:
                  name: cross-seed-secret
            args: ["daemon"]
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000,1000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        ports:
          http:
            port: 80
    persistence:
      config:
        type: emptyDir
      secret-file:
        type: secret
        name: cross-seed-secret
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true
      # qbittorrent:
      #   existingClaim: qbittorrent
      #   globalMounts:
      #     - path: /qbittorrent/qBittorrent/BT_backup
      #       subPath: qBittorrent/BT_backup
      #       readOnly: true
      media:
        existingClaim: media
