---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: mqtt-dns
  annotations:
    external-dns/private: "true"
spec:
  endpoints:
    - dnsName: mqtt.lumu.au
      recordTTL: 300
      recordType: A
      targets:
        - 10.88.0.36
    # - dnsName: mqtt.lumu.au
    #   recordTTL: 300
    #   recordType: AAAA
    #   targets:
    #     - ${EXTERNAL_IP_AAAA}
