---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app external-dns-powerdns
spec:
  chartRef:
    kind: OCIRepository
    name: external-dns
  interval: 1h
  maxHistory: 2
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    fullnameOverride: *app
    provider: pdns
    env:
      - name: PDNS_API_KEY
        valueFrom:
          secretKeyRef:
            name: external-dns-powerdns-secret
            key: api_key
    extraArgs:
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --annotation-filter=external-dns/private in (true)
      - --pdns-server=http://10.88.0.251:8081
      - --pdns-api-key=$(PDNS_API_KEY)
    policy: sync
    sources: ["crd"]
    txtPrefix: k8s.
    txtOwnerId: default
    domainFilters: ["${SECRET_DOMAIN}","${SECONDARY_DOMAIN}"]
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-secret
