---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

alerting:
  pushover:
    application-token: ${CUSTOM_PUSHOVER_APP_TOKEN}
    user-key: ${CUSTOM_PUSHOVER_USER_KEY}
    default-alert:
      failure-threshold: 3
      success-threshold: 2
      send-on-resolved: true

metrics: true

ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/6856386
  link: https://github.com/jalim
  buttons:
    - name: Github
      link: https://github.com/jalim

    - name: Homelab
      link: https://github.com/jalim/home-operations

web:
  port: ${GATUS_WEB_PORT}
