---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mealie
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      mealie:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: mealie-secret
        containers:
          app:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v3.2.0@sha256:a00e99afd3dcea3cfa524457813b4f8223dbcea33e439cfcac8fdfcdef9c222c
            env:
              BASE_URL: https://mealie.lumu.au
              API_DOCS: false
              DB_ENGINE: postgres
              PUID: 568
              PGID: 568
              TZ: Australia/Perth
              SMTP_HOST: smtp-relay
              SMTP_PORT: 25
              SMTP_AUTH_STRATEGY: NONE
              SMTP_FROM_EMAIL: mealie@lumu.au
              # OIDC_AUTH_ENABLED: true
              # OIDC_SIGNUP_ENABLED: true
              # OIDC_CONFIGURATION_URL: https://auth.${DOMAIN}/.well-known/openid-configuration
              # OIDC_CLIENT_ID: mealie
              # OIDC_USER_CLAIM: preferred_username
              # OIDC_AUTO_REDIRECT: false
              # OIDC_GROUPS_CLAIM: groups
              # OIDC_ADMIN_GROUP: admins
              # OIDC_USER_GROUP: family
            envFrom: *envFrom
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 400Mi
              limits:
                memory: 600Mi
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            runAsNonRoot: true
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: mealie
        ports:
          http:
            port: &port 9000
    route:
      app:
        hostnames: ["{{ .Release.Name }}.lumu.au"]
        parentRefs:
          - name: internal
            namespace: flux-system
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: mealie
        globalMounts:
          - path: /app/data
      nltk-data:
        type: emptyDir
        globalMounts:
          - path: /nltk_data
