---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hugo
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: hugo
  dependsOn:
    - name: actual
      namespace: default
  values:
    controllers:
      hugo:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jalim/home-docs
              tag: 2024.11.170411@sha256:7c11b082a9ce9f8c85b2f001f135d0517dc34e2548ba3f01f36fa25e258ebfe0

    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
    service:
      app:
        ipFamilyPolicy: PreferDualStack
        ports:
          http:
            port: 80
    ingress:
      app:
        className: external
        hosts:
          - host: "www.lumu.au"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
          - host: "lumu.au"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http 
