---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: unpackerr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: unpackerr
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: uninstall
      retries: 3
  values:
    controllers:
      unpackerr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/unpackerr/unpackerr
              tag: 0.14.5@sha256:dc72256942ce50d1c8a1aeb5aa85b6ae2680a36eefd2182129d8d210fce78044
            env:
              TZ: Australia/Perth
              UN_WEBSERVER_METRICS: "true"
              UN_SONARR_0_URL: http://sonarr.default.svc.cluster.local
              UN_SONARR_0_PATHS_0: /media/downloads/qbit_complete
              UN_SONARR_1_URL: http://sonarr-kids.default.svc.cluster.local
              UN_SONARR_1_PATHS_0: /media/downloads/qbit_complete
              UN_RADARR_0_URL: http://radarr.default.svc.cluster.local
              UN_RADARR_0_PATHS_0: /media/downloads/qbit_complete
              UN_RADARR_1_URL: http://radarr-kids.default.svc.cluster.local
              UN_RADARR_1_PATHS_0: /media/downloads/qbit_complete
            envFrom:
              - secretRef:
                  name: unpackerr-secret
            resources:
              requests:
                cpu: 10m
                memory: 1Gi
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [1000, 10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: unpackerr
        ports:
          http:
            port: 5656
    serviceMonitor:
      app:
        serviceName: unpackerr
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    persistence:
      logs:
        type: emptyDir
      media:
        existingClaim: media
