---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: plex
  upgrade:
    remediation:
      retries: 3
  dependsOn:
    - name: intel-gpu-resource-driver
      namespace: kube-system
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      plex:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.42.2.10156@sha256:9ad8a3506e1d8ebda873a668603c1a2c10e6887969564561be669efd65ae8871
            env:
              TZ: ${TIMEZONE}
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 2Gi
              limits:
                memory: 4Gi
    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: plex
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44, 1000, 10000]
    service:
      app:
        type: LoadBalancer
        ipFamilyPolicy: PreferDualStack
        annotations:
          io.cilium/lb-ipam-ips: "10.88.0.32,2402:21a0:2043:88::32"
        ports:
          http:
            port: &port 32400
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |
            url: https://plex.lumu.au/identity
            conditions:
              - "[STATUS] == 200"
        hostnames:
          - "{{ .Release.Name }}.lumu.au"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - group: gateway.envoyproxy.io
                kind: Backend
                name: plex-ipv4
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove: ["Range"]
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs:
              - group: gateway.envoyproxy.io
                kind: Backend
                name: plex-ipv4
    persistence:
      config:
        existingClaim: plex
      # Separate PVC for cache to avoid backing up cache files
      plex-cache:
        existingClaim: plex-cache
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      transcode:
        type: emptyDir
      tmp:
        type: emptyDir
      media:
        type: nfs
        server: 10.88.0.80
        path: /mnt/dead/media
        globalMounts:
          - path: /media
            readOnly: false
