---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./ocirepository.yaml
  - ./helmrelease.yaml
  - ./envoyproxy.yaml
  - ./policies.yaml
  - ./observability.yaml
  - ./httpsredirect.yaml
  - ./externalsecret.yaml
