---
# yaml-language-server: $schema=https://frigate.lumu.au/api/config/schema.json
logger:
  default: info
  # logs:
  #   frigate.record: debug

mqtt:
  enabled: false
  # host: mosquitto.default.svc.cluster.local
  # topic_prefix: frigate
  # user: "{FRIGATE_MQTT_USERNAME}"
  # password: "{FRIGATE_MQTT_PASSWORD}"

database:
  path: /data/frigate.db

detectors:
  coral:
    type: edgetpu
    device: usb

ffmpeg:
  global_args: ["-hide_banner", "-loglevel", "warning"]
  hwaccel_args: ["-hwaccel", "vaapi", "-hwaccel_device", "/dev/dri/renderD128", "-hwaccel_output_format", "yuv420p"]
  output_args:
    record: preset-record-ubiquiti

snapshots:
  enabled: true
  timestamp: false
  bounding_box: true
  retain:
    default: 1

record:
  enabled: true
  retain:
    days: 1
    mode: all
  events:
    retain:
      default: 1
      mode: active_objects

objects:
  track: ["person"]
  filters:
    person:
      min_area: 5000
      max_area: 100000
      threshold: 0.7

go2rtc:
  streams:
    shed_camera:
      - "ffmpeg:http://10.90.0.10/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=frigate&password=frigate#video=copy#audio=copy#audio=opus"
    shed_camera_sub:
      - "ffmpeg:http://10.90.0.10/flv?port=1935&app=bcs&stream=channel0_ext.bcs&user=frigate&password=frigate"

cameras:
  frigate_shed:
    ffmpeg:
      inputs:
        - path: rtsp://localhost:8554/shed_camera_sub
          roles: ["detect"]
        - path: rtsp://localhost:8554/shed_camera
          roles: ["record"]
    detect:
      width: 960
      height: 720
      fps: 10
