---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/gateway.networking.k8s.io/gateway_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: internal
  annotations:
    external-dns.alpha.kubernetes.io/target:  10.88.0.22
spec:
  gatewayClassName: cilium
  addresses:
    - type: IPAddress
      value: 10.88.0.22
    - type: IPAddress
      value: 2404:e80:942a:88::22
  infrastructure:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: internal.lumu.au
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      hostname: "*.lumu.au"
      allowedRoutes:
        namespaces:
          from: Same
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.lumu.au"
      allowedRoutes:
        namespaces:
          from: All
      tls:
        certificateRefs:
          - kind: Secret
            name: lumu-production-tls
